

{% if template contains 'product' %}
  {% assign products_length = products.length | minus: 1 %}
{% elsif featured_collection %}
  {% assign products_length = collections[featured_collection].products.length %}
{% else %}
  {% assign products_length = products.length %}
{% endif %}

  {% assign default = '1400x' %}
  {% assign size1 = '100x' %}
  {% assign size2 = '200x' %}
  {% assign size3 = '300x' %}
  {% assign size4 = '400x' %}
  {% assign size5 = '500x' %}
  {% assign size6 = '600x' %}
  {% assign size7 = '700x' %}
  {% assign size8 = '800x' %}
  {% assign size9 = '900x' %}
  {% assign size10 = '1000x' %}


<div class="related-slider">
  {% for product in products %}
      {% assign feature_image = product.featured_image %}
      <div>
         <div>
          <div class="relative product_image swap-{{ settings.collection_secondary_image }}">
            <a href="{{ product.url | within: collection }}" itemprop="url">
              <img  src="{{ feature_image | product_img_url: '300x' }}"
                     />
                {% if settings.collection_secondary_image != blank %}
                  {% if product.images[1] != blank %}
                    {% assign secondary_image = product.images[1] %}
                  {% else %}
                    {% assign secondary_image = product.featured_image %}
                  {% endif %}
                  <img  src="{{ secondary_image | product_img_url: '50x' }}"
                        alt="{{ product.title | escape }}"
                        class="secondary lazyload"
                        sizes="(min-width: 36em) 33.3vw, 100vw"
                        data-src="{{ secondary_image | product_img_url: default }}"
                        srcset="
                        {{ secondary_image | product_img_url: default }} {{default | replace: 'x', 'w'}},
                        {{ secondary_image | product_img_url: size1 }} {{size1 | replace: 'x', 'w'}},
                        {{ secondary_image | product_img_url: size2 }} {{size2 | replace: 'x', 'w'}},
                        {{ secondary_image | product_img_url: size3 }} {{size3 | replace: 'x', 'w'}},
                        {{ secondary_image | product_img_url: size4 }} {{size4 | replace: 'x', 'w'}},
                        {{ secondary_image | product_img_url: size5 }} {{size5 | replace: 'x', 'w'}},
                        {{ secondary_image | product_img_url: size6 }} {{size6 | replace: 'x', 'w'}},
                        {{ secondary_image | product_img_url: size7 }} {{size7 | replace: 'x', 'w'}},
                        {{ secondary_image | product_img_url: size8 }} {{size8 | replace: 'x', 'w'}},
                        {{ secondary_image | product_img_url: size9 }} {{size9 | replace: 'x', 'w'}},
                        {{ secondary_image | product_img_url: size10}} {{size10 | replace: 'x', 'w'}}"
                         />
                {% endif %}
              </a>
            {% include "product-details" %}
          </div>
          <a class="product-info__caption {% if settings.thumbnail_hover_enabled %}hidden{% endif %}" href="{{ product.url | within: collection }}" itemprop="url">
            {% include "product-info" %}
          </a>
        </div>
        {% include 'collection-swatch' %}
      </div>
  {% endfor %}
</div>
<style>
.related-slider {
  border-top:solid 1px #e6e6e6
}
.product-details {
  text-align :center
}
.product_image {
  text-align:center
}
.slick-slide img {
  display:inline;
  text-align:center
}
.slick-dots li.slick-active button {
  background-color :#0099ff;
  border-color:transparent
}
.slick-dots li button {
  background-color :#efefef;
  border-radius:50%;
  width:15px;
  height:15px;
}
.slick-arrow {background: #efefef;border-radius:50%}
.slick-prev, .slick-next {
  width:40px;
  height:40px;
  z-index:999
}
.slick-prev {left:-50px}
.slick-next {right:-50px}
</style>
<script>
 $(document).ready(function(){
$('.related-slider').slick({
        slidesToShow: 3,
        dots: true,
        autoplay:false,
        speed: 1500,
        autoplaySpeed:2100,
        cssEase: 'linear',
        responsive: [
          {
            breakpoint: 1200,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ]
      });

 });

</script>